*{
    color:purple;
}
@media only screen and (max-width: 700px){
    h1{
        text-align:center;
    }
    content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding:10px;
    }
    img{
        object-fit: contain;
        max-width: 100vw;
        height: auto;
    }
}
content{
    display: flex;
    justify-content: flex-start;
    padding:10px;
}
#junkCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#junkCard:hover{
    border: gold 5px solid;
}
img{
    object-fit: contain;
    max-width: 50vw;
    height: auto;
}

ul:hover{
    cursor:default;
}
ul{
    padding-right: 50px;
}