*{
    color:purple;
}
@media only screen and (max-width: 700px){
    content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding:10px;
    }
    
}
content{
    display: flex;
    justify-content: flex-start;
    padding:10px;
}
#junkCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
#junkCard:hover{
    border: gold 5px solid;
}
img{
    object-fit: contain;
    width: 500px;
    height: auto;
}

ul:hover{
    cursor:default;
}
ul{
    padding-right: 50px;
}